<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button id="startBtn" onclick="startRecording()">Начать запись</button>
    <button id="stopBtn" onclick="stopRecording()" disabled>Остановить</button>

    <h1>Сообщения от сервера:</h1>
    <div id="messages"></div> <!-- Контейнер для сообщений -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>




<script>


let mediaRecorder;
let audioChunks = [];
let mimeType_cur;
const socket = io.connect();

    // Обработчик входящих сообщений
socket.addEventListener('message', (event) => {
    const message = event['message']; // Получаем данные сообщения
    displayMessage(message); // Отображаем сообщение
});

function getSupportedMimeType() {
  const types = [
    'audio/webm;codecs=opus',
    'audio/mp4;codecs=aac',
    'audio/mp4',
    'audio/webm'
  ];
  
  return types.find(type => MediaRecorder.isTypeSupported(type));
}

// Использование
const mimeType = getSupportedMimeType() || 'audio/webm';
displayMessage(mimeType);


async function startRecording() {
    audioChunks = [];
    document.getElementById("startBtn").disabled = true;
    document.getElementById("stopBtn").disabled = false;
    
    try {
        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });

        const options = { 
            mimeType: 'audio/webm;codecs=opus' 
        };


        if (MediaRecorder.isTypeSupported('audio/webm;codecs=opus')) {
            mediaRecorder = new MediaRecorder(stream, options);
            mimeType_cur = 'audio/webm;codecs=opus';}
            

        else if (MediaRecorder.isTypeSupported('audio/mp4')) {
            mediaRecorder = new MediaRecorder(stream, { mimeType: 'audio/mp4' });
            mimeType_cur = 'audio/mp4';
        }
        
        mediaRecorder.ondataavailable = event => {
            if (event.data.size > 0) {
                audioChunks.push(event.data);
            }
        };
        
        mediaRecorder.onstop = () => {
            const audioBlob = new Blob(audioChunks, { type: mimeType_cur });
            const reader = new FileReader();
            reader.onload = function() {
                const arrayBuffer = this.result;
                socket.emit('message', {data: arrayBuffer, mimeType: mimeType_cur});
            };
            reader.readAsArrayBuffer(audioBlob);
            stream.getTracks().forEach(track => track.stop());
        };
        
        mediaRecorder.start(1000); // Собираем чанки каждую секунду
    } catch (error) {
        console.error("Ошибка доступа к микрофону:", error);
        resetButtons();
    }
}


function stopRecording() {
    if (mediaRecorder && mediaRecorder.state !== 'inactive') {
        mediaRecorder.stop();
        resetButtons();
    }
}

function resetButtons() {
    document.getElementById("startBtn").disabled = false;
    document.getElementById("stopBtn").disabled = true;
}




// Функция для отображения сообщения на странице
function displayMessage(message) {
    const messagesContainer = document.getElementById('messages');
    
    // Создаем элемент для сообщения
    const messageElement = document.createElement('div');
    messageElement.textContent = message;
    messageElement.classList.add('message');
    
    // Добавляем в контейнер
    messagesContainer.appendChild(messageElement);
    
    // Прокрутка к последнему сообщению
    messagesContainer.scrollTop = messagesContainer.scrollHeight;
};
</script>



    
</body>
</html>
